<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41f1ff2ee2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style-home.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <header>
        <nav>
            <div class="contenedor-nav1">
                <div class="contenedor-nav1-header">
                    <img src="/images/logo-mercado-liebre.svg" class="logo">
                    <div class="buscador">
                        <input type="search" placeholder="Buscar productos, marcas">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <p class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin
                    tarjeta de credito</i></p>
            </div>
            <nav class="nav-2">
                <ul type="none">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul type="none">
                    <li><a href="/register">Crea tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </nav>
        <div id="bars">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <img src="/images/img-home-banner.jpg" alt="carrusel" class="carrusel">
        </section>

        <h2 class="titulares">Basado en tu ultima vista</h2>
        
        <div class="contenedor-main">
            <div class="productos">
                <img class="imagen-del-producto"src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="detalles-del-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </div>
            <div class="productos">
                <img class="imagen-del-producto"src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <div class="detalles-del-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripciones">Macbook Pro 2019</h4>
                </div>
            </div>
            <div class="productos">
                <img class="imagen-del-producto"src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="detalles-del-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy s10</h4>
                </div>
            </div>
            <div class="productos">
                <img class="imagen-del-producto"src="/images/img-tv-samsung-smart.jpg" alt="imagen del smart tv">
                <div class="detalles-del-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </div>
            </div>
            <h2 class="titulares">Seccion de Ofertas</h2>
            <div class="contenedor-main">
            <div class="productos">
                <img class="imagen-del-producto"src="/images/img-tv-samsung-smart.jpg" alt="imagen del smart tv">
                <div class="detalles-del-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </div>
            <div class="productos">
                <img class="imagen-del-producto"src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <div class="detalles-del-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.0000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripciones">Macbook Pro 2019</h4>
                </div>
            </div>
            <div class="productos">
                <img class="imagen-del-producto"src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="detalles-del-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy s10</h4>
                </div>
            </div>
            <div class="productos">
                <img class="imagen-del-producto"src="/images/img-tv-samsung-smart.jpg" alt="imagen del smart tv">
                <div class="detalles-del-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <section class="conteiner-footer">
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <article>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>

</html>